#main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#gameplay {
    display: flex;
    flex-direction: column;
    width: 27%;
    border: 1px solid black;
}

#ingredients {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

#ingredients > div {
    display: flex;
    justify-content: space-around;

    & :first-child {
        padding: 5px;
    }
}

#boards {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 73%;
    align-items: stretch;
    /* justify-content: space-around; */
}

#boards > div {
    border: 1px solid black;
    height: 100%;

    > div {
        min-width: 14%;
        padding: 2%;
        display: flex;
        flex-direction: column;

        :first-child {
            text-align: center;
        }

        #sandwich {
            margin: 10% 3%;
            padding: 10% 2%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            background: lightgrey;

            > div {
                width: 100%;
                display: flex;
                justify-content: center;
            }
        }
    }
    display: flex;
    justify-content: center;
}

.tooltip {
	position: relative;
}

.tooltip .tooltipText {
	opacity: 0;
	width: 100%;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0px;
    border-radius: 6px;
	position: absolute;
	z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -50%; /* Use half of the width to center the tooltip */
	font-size: 14px;
	background: rgba(20, 20, 20, 0.8);
	transition: opacity 0.5s;
	pointer-events: none;
}

.tooltip .tooltipText::after {
    content: " ";
    position: absolute;
    bottom: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltipTextInner {
	padding: 0px 5px;
}

.tooltip:hover .tooltipText {
	opacity: 1;
}

.tooltip .tooltipText:hover {
    opacity: 0; /* Get tooltip out of the way of clicks */
}

.dragging {
    opacity: 0.5;
}

.canPlay {
    border: 1px solid green;
}

.cantPlay {
    border: 1px solid red;
}